<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Новости</ion-title>
    </ion-navbar>
    <ion-toolbar>
        <ion-segment [(ngModel)]="newsSelector" color="primary">
            <!--<ion-segment-button [disabled]="(user === null) ? true : null" value="my" (ionSelect)="selectedMyNews()">-->
            <ion-segment-button value="my" (ionSelect)="selectedMyNews()">
                Мои
            </ion-segment-button>
            <ion-segment-button selected value="all" (ionSelect)="selectedAllNews()">
                Все
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>


<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <button (click)="showNewFeeds()" *ngIf="newFeedsArray.length > 0" ion-button block clear>
                <ion-badge >{{ newFeedsArray.length }} </ion-badge>
                &nbsp; новых новостей
        </button>

        <ion-item *ngFor="let feed of news | reverse" (click)="goToFullFeed(feed)">
            <ion-title>{{ feed.placeName }}</ion-title>
            <h3>{{ feed.title }}</h3>
            <p>{{ feed.textPreview }} </p>
            <!--feed.data-->
        </ion-item>
    </ion-list>

    <ion-item *ngIf="errors">
        <pre>
            {{ errors || json }}
        </pre>
    </ion-item>
</ion-content>